*
!.gitignore
!README.md
!.github
!.github/*
!.github/workflows/*                                           
!wp-content/                                
!wp-content/plugins/                        
wp-content/plugins/*                        
!wp-content/plugins/logo-to-image-generator/
!wp-content/plugins/logo-to-image-generator/*
